test

out
build

vendor/tree-sitter/**/*
!vendor/tree-sitter/lib/src/*
!vendor/tree-sitter/lib/include/tree_sitter/*.h
!vendor/tree-sitter/lib/utf8proc/*.c
!vendor/tree-sitter/lib/utf8proc/*.h

.travis.yml
appveyor.yml
