name: build

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master
  release:
    types:
      - released

env:
  NODE_PREBUILD_CMD: npx prebuild -t 14.0.0 -t 16.0.0 -t 18.0.0 -t 20.0.0 --strip -u ${{ secrets.GH_TOKEN }}
  ELECTRON_PREBUILD_CMD: npx prebuild -r electron -t 12.0.0 -t 13.0.0 -t 14.0.0 -t 15.0.0 -t 16.0.0 -t 17.0.0 -t 18.0.0 -t 19.0.0 -t 20.0.0 -t 21.0.0 -t 22.0.0 -t 23.0.0 -t 24.0.0 -t 25.0.0 --strip -u ${{ secrets.GH_TOKEN }}

jobs:

  test:
    strategy:
      matrix:
        os:
          - windows-2019
          - macos-latest
          - ubuntu-20.04
        node:
          - 14
          - 16
          - 18
          - 20
      fail-fast: false
    name: Testing Node ${{ matrix.node }} on ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v3
        with:
          submodules: true
          fetch-depth: 0
      - uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.node }}
      - uses: actions/setup-python@v4
        with:
          python-version: '3.10'

      - run: npm install
      - run: npm test

  publish:
    if: ${{ github.event_name == 'release' }}
    name: Publish to npm
    runs-on: ubuntu-20.04
    needs: test
    steps:
      - uses: actions/checkout@v3
        with:
          submodules: true
          fetch-depth: 0
      - uses: actions/setup-node@v3
        with:
          node-version: 20
          registry-url: https://registry.npmjs.org
      - run: npm install
      - run: npm publish --access public
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}

  prebuild:
    strategy:
      matrix:
        os:
          - windows-2019
          - macos-latest
          - ubuntu-20.04
      fail-fast: false
    name: Prebuild for ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    needs: publish
    steps:
      - uses: actions/checkout@v3
        with:
          submodules: true
          fetch-depth: 0
      - uses: actions/setup-node@v3
        with:
          node-version: 20
      - run: npm install
      - if: runner.os == 'macOS'
        run: ${{ env.NODE_PREBUILD_CMD }} --arch arm64
      - if: runner.os == 'macOS'
        run: ${{ env.ELECTRON_PREBUILD_CMD }} --arch arm64
      - run: ${{ env.NODE_PREBUILD_CMD }}
      - run: ${{ env.ELECTRON_PREBUILD_CMD }}
