name: CI

on:
  push:
    branches: [master]
  pull_request:
    branches: [master]
  workflow_call:

concurrency:
  group: ${{github.workflow}}-${{github.ref}}
  cancel-in-progress: true

jobs:
  test:
    strategy:
      matrix:
        os:
          - windows-2025
          - windows-11-arm
          - macos-15
          - macos-15-intel
          - ubuntu-24.04
          - ubuntu-24.04-arm
        node:
          - 20.19.6
          - 22.21.1
          - 24.12.0
          - 25.2.1
      fail-fast: false
    name: Test Node ${{matrix.node}} on ${{matrix.os}}
    runs-on: ${{matrix.os}}
    defaults:
      run:
        shell: bash
    steps:
      - name: Checkout repository
        uses: actions/checkout@v6
        with:
          submodules: true

      - name: Setup Node
        uses: actions/setup-node@v6
        with:
          node-version: ${{matrix.node}}

      - name: Set npm_config_target
        run: printf 'npm_config_target=${{matrix.node}}\n' >> "$GITHUB_ENV"

      - name: Install dependencies
        run: npm ci --legacy-peer-deps

      - name: Build binary
        run: npm x -- prebuildify --napi

      - name: Run tests
        run: npm test

      - name: Upload prebuilds
        uses: actions/upload-artifact@v6
        if: github.ref_type == 'tag' && startsWith(matrix.node, '24')
        with:
          path: prebuilds/**
          name: prebuilds-${{runner.os}}-${{runner.arch}}
          retention-days: 2
