name: Publish

on:
  push:
    tags:
      - v[0-9]+.[0-9]+.[0-9]+

jobs:
  build:
    uses: "./.github/workflows/ci.yml"

  publish:
    name: Publish
    runs-on: ubuntu-latest
    environment: npm
    permissions:
      id-token: write
      attestations: write
      contents: read
    needs: build
    steps:
      - name: Checkout repository
        uses: actions/checkout@v6
        with:
          submodules: true

      - name: Setup Node
        uses: actions/setup-node@v6
        with:
          node-version: 24
          registry-url: https://registry.npmjs.org

      - name: Download prebuilds
        uses: actions/download-artifact@v7
        with:
          path: prebuilds
          pattern: prebuilds-*
          merge-multiple: true

      - name: List prebuilds
        run: tree prebuilds

      - name: Install dependencies
        run: npm install

      - name: Publish to NPM
        run: unset NODE_AUTH_TOKEN ; npm publish

      - name: Prepare release artifacts
        run: |
          mkdir -p dist
          for dir in prebuilds/*/; do
            platform=$(basename "$dir")
            cp "$dir/tree-sitter.node" "dist/tree-sitter-$platform.node"
          done
          ls -l dist

      - name: Generate attestations
        uses: actions/attest-build-provenance@v3
        with:
          subject-path: dist/*

      - name: Create release
        run: gh release create "$GITHUB_REF_NAME" --generate-notes dist/*
        env:
          GH_TOKEN: ${{github.token}}
